{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="text-red-600 dark:text-red-500" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Nouveau Client</h1>

    {{ form_errors(registrationFormclient) }}

    {{ form(registrationFormclient) }}
     
{% endblock %}
