{% extends 'base-backend.html.twig' %}

{% set title = 'Nouveau film' %}

{% block content %}
    

    {{ include('backend/movie/_form.html.twig') }}

<div class="inline-flex rounded-md shadow-sm" role="group">
    <a class="inline-flex m-2 p-5 items-center btn btn-blue" href="{{ path('app_movie_index') }}">retour à la liste</a>
</div>
    
{% endblock %}
