{# templates/typecredit/indextypes.html.twig #}

<div>
    <ul>
        <li>
        <a href="{{ path('app_type_media_all')}}"> Media</a>
        </li>
        <li>
        <a href="{{ path('app_type_credit_all')}}"> Credit</a>
        </li>
    </ul>    
</div>
