{# templates/typecredit/indextypes.html.twig #}

<div>
    <ul>
        <li>
        <a href="{{ path('app_type_media_index')}}"> Media</a>
        </li>
        <li>
        <a href="{{ path('app_type_credit_index')}}"> Credit</a>
        </li>
        <li>
        <a href="{{ path('app_genre_index')}}"> Genre</a>
        </li>
    </ul>    
</div>
