{% extends 'backend/indextypes.html.twig' %}

{% set title = "TypeMedia " %}

{% block type %}
    <h1>Create new TypeCredit</h1>

    {{ include('backend/type_credit/_form.html.twig') }}

    <a href="{{ path('app_type_credit_index') }}">back to list</a>
{% endblock %}
