{# templates/frontend/index.html.twig #}
{% extends 'base.html.twig' %}

{% set title = "Accueil" %} 


      
{% block content %}


<section class="bg-gray-50">
   <header>
      <p>Bienvenue {{client.firstname}} sur notre site !</p>
   </header>
   <h1>Commande</h1>
     {% for basket in baskets %}
     {{basket.movie}}-{{basket.quantity}}
        {% endfor %}
    
<div>

</div>
</section>








{% endblock %}
