{# templates/frontend/index.html.twig #}
{% extends 'base.html.twig' %}

{% set title = "Accueil" %} 


      
{% block content %}


<section class="bg-gray-50">
   <header>
      <p>Bienvenue {{client.firstname}} sur notre site !</p>
   </header>    
   <h1>Liste des Commandes</h1>
<div>

</div>

</section>









{% endblock %}
